<% content_for :title, "About" %>
<% content_for :heading, "About" %>

<div class="row">
	<div class="columns large-centered large-6">
		<p class="callout panel radius"> This application was developed as an exercise in the process of learning Ruby of Rails. </p>
	</div>
</div>