<% content_for :title, "Contact" %>
<% content_for :heading, "Contact" %>

<div class="row">
	<div class="columns large-centered large-6">
		<p class="callout panel radius"> This space will be updated with contact information </p>
	</div>
</div>