<% content_for :title, "Help" %>
<% content_for :heading, "Help" %>

<div class="row">
	<div class="columns large-centered large-6">
		<p class="callout panel radius"> This space will be updated with Help-related information </p>
	</div>
</div>