<div class="row">
	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Following", following_user_path(@user.id) %></div>
		<div id="followings" class="columns large-3"><%= @user.following.count %></div>
	</div>

	<div class="row">
		<div class="columns large-8 large-offset-1"><%= link_to "Followers", followers_user_path(@user.id) %></div>
		<div id="followers" class="columns large-3"><%= @user.followers.count %></div>
	</div>
</div>