<!-- add link to profiles, follow-unfollow links. notifications from followed users to be followed from there. -->
<% content_for :title, "Users" %>
<% content_for :heading, "Users" %>
<div class="row margin-top">
	<div class="columns large-6">
		<%= will_paginate @users, renderer: FoundationPagination::Rails %>
		<ul class="users no-bullet">
			<% @users.each do |user| %>
				<li><%= render 'user', size: 75, user: user %></li>
			<% end %>
		</ul>
		<%= will_paginate @users, renderer: FoundationPagination::Rails %>
	</div>
</div>
