h1, h2, h3 {
	margin: 1% 3% 0%;
}

footer {
	hr {
		width: 100%;
		margin-left:auto;
		margin-right: auto;
	}
	margin-top: 20px;
	p {
		margin: 0%;
	}
}

input[type="text"][readonly] {
	background-color: #fff;
}

.top-bar li i {
	font-size: 1.75rem;
}

nav.top-bar {
	overflow: scroll;
}

#homeImage {
	background-image: image-url("HomeImage.jpg");
	background-repeat: no-repeat;
	height: 160px;
	width: 200px;
}

.panel-heading {
	color: #069;
	border-bottom: 1px solid #999;
}

.panel .button {
	margin: 5% 35% 2%;
}

.margin-right {
	margin-right: 2%;
}

.margin-top {
	margin-top: 2%;
}

.margin-bottom {
	margin-bottom: 2%;
}

.page {
	max-height: 90vh;
	overflow-y: scroll;
}

.page::-webkit-scrollbar {
 	display: none;
}