body {
	font-family: calibri;
}

h1, h2, h3 {
	margin: 1% 3% 0%;
}

footer {
	hr {
		width: 90%;
		margin-left:auto;
		margin-right: auto;
	}
	margin-top: 20px;
	p {
		margin: 0%;
	}
}

input[type="text"][readonly] {
	background-color: #fff;
}

.top-bar {
 	ul.title-area li i {
		font-size: 1.50rem;
		&:hover {
			font-size: 3.00rem;		//home icon
		}
	}
	li:hover {
		i {
			font-size: 2.00rem;		//menu icons
		}
	}
}

#homeImage {
	background-image: image-url("HomeImage.jpg");
	background-repeat: no-repeat;
	height: 160px;
	width: 200px;
}

#map {
	min-height: 250px;
	height: 500px;
	max-height: 600px;
	min-width: 250px;
	width: 500px;
	max-width: 600px;
}

.panel-heading {
	color: red;
	border-bottom: 1px solid #999;
}

.panel .button {
	margin: 5% 35% 2%;
}

.panel.callout.disabled-ride {
	background: #EEE;
	i {
		color: #999;
	}
}

.margin-left {
	margin-left: 2%;
}

.margin-right {
	margin-right: 2%;
}

.margin-top {
	margin-top: 2%;
}

.margin-bottom {
	margin-bottom: 2%;
}

.page {
	max-height: 90vh;
	overflow-y: scroll;
}

.fullpage {
	height: 100vh;
	width: 100vw;	
	margin: 0px;
	padding: 0px;
}

.stat-container {
	padding: 20% 10%;
}

.stat-tab {
	background-color: white;
	border: 1px solid #F88;
    box-shadow: 0 0 5px #F88;
    color: #069;
    height: 100px;
    width: 200px;
    margin-bottom: 0px;
    &:hover {
    	box-shadow: 0 0 10px #F88;
    }
    span {
    	font-size: 0.9rem;
    }
}

#ride-list-container {
	max-height: 50vh;
	overflow-y: scroll;
}

.page::-webkit-scrollbar, #ride-list-container::-webkit-scrollbar {
 	display: none;
}

.panel {
	.fi-check {
		color: green;
	}

	.fi-x-circle {
		color: #900;
	}

	.fi-pencil {
		color: #666;
	}

	.fi-checkbox {
		color: #069;
	}
}

.pageload-con, .otherload-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.pageload-con {
	background: image-url("Preloader_11.gif") center no-repeat #EEE;
}

.otherload-con {
	background: image-url("Preloader_10.gif") center no-repeat #EEE;
}

#ride-mates {
	background: image-url("images.jpg") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}

#word {
	background: image-url("word.jpg") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}

#rideincarpool {
	background: image-url("rideincarpool.png") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}