body {
	font-family: calibri;
}

h1, h2, h3 {
	margin: 1% 3% 0%;
}

label {
	font-weight: bolder;
}

input {
	font-weight: bold;
}

footer {
	width: 100%;
	background-color: #333;
	padding: 10%;
	p {
		margin: 0%;
		color: #DDD;
	}
}

input[type="text"][readonly] {
	background-color: #fff;
}

.panel.callout {
	background: #333333;
	color: #DDD;
	font-weight: normal;
	hr {
		margin: 3px;
		padding: 0px;
	}
}

.level {
	vertical-align: middle;
	.pagination {
		margin-bottom: auto;
	}
}

.margin-left {
	margin-left: 2% !important;
}

.margin-right {
	margin-right: 2% !important;
}

.margin-top {
	margin-top: 2% !important;
}

.margin-bottom {
	margin-bottom: 2% !important;
}

.panel {
	.fa-check {
		color: #0D0;
	}

	.fa-minus-circle {
		color: #C00;
	}

	.fa-pencil {
		color: #FFF;
	}

	.fa-check-square {
		color: #DDD;
	}
	
	.fa-info-circle {
		color: #DDD;
	}
}

.panel.callout.disabled-ride {
	background: #CCC;
	i, p, div, span, a, a:hover {
		color: #999;
	}
}

.panel.callout.error-container {
	padding: 5px;
	margin: 0px 0px 20px 0px;
	li {
		font-size: 15px;
		color: #F27D0C;
		font-weight: normal;
	}
}

.panel.callout p {
	color: #DDD;
	font-weight: bold;
	border-bottom: 1px solid #999;
}

.fullpage {
	height: 100vh;
	width: 100vw;	
	margin: 0px;
	padding: 0px;
}

.gravatar {
	background-color: #999;
	border-radius: 50%;
	-webkit-border-radius: 150px;
	-moz-border-radius: 150px;
	box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-webkit-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	-moz-box-shadow: 0 0 8px rgba(0, 0, 0, .8);
	~ span {
		white-space: nowrap;
	}
	div & {
		display: block;
	}
}

.users li {
	padding: 3%;
	border-bottom: 1px solid #999;
}

.follow_unfollow {
	padding: 5px;
	margin: 0px;	
}

.stat-container {
	padding: 10%;
}

.stat-tab {
	font-family: 'Slabo 27px', serif;
	background-color: #333333;
	border: 1px solid #00aeef;
    box-shadow: 0 0 1px #00aeef;
    height: 300px;
    width: 200px;
	font-weight: normal;
	padding: 33% 10%;
    &:hover {
    	box-shadow: 0 0 8px #00aeef;
    }
    h4 {
		font-family: 'Slabo 27px', serif;
    	font-size: 25px;
    	color: #DDD;
    }
    p {
		font-family: 'Slabo 27px', serif;
    	font-size: 15px;
    	color: #999;
    }
}

.page {
	max-height: 90vh;
	overflow-y: scroll;
}

#map {
	min-height: 250px;
	height: 500px;
	max-height: 600px;
	min-width: 250px;
	width: 500px;
	max-width: 600px;
}

#ride-list-container {
	max-height: 50vh;
	overflow-y: scroll;
}

.page::-webkit-scrollbar, #ride-list-container::-webkit-scrollbar {
 	display: none;
}

.pageload-con, .otherload-con {
	position: fixed;
	left: 0px;
	top: 0px;
	width: 100%;
	height: 100%;
	z-index: 9999;
}

.pageload-con {
	background: image-url("Preloader_11.gif") center no-repeat #EEE;
}

.otherload-con {
	background: image-url("Preloader_10.gif") center no-repeat #EEE;
}

#ride-mates {
	background: image-url("images.jpg") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}

#word {
	background: image-url("word.jpg") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}

#rideincarpool {
	background: image-url("rideincarpool.png") no-repeat center center fixed;
    height: 90vh;
    width: 100vw;
}

#ride_transaction_Cost, #ride_transaction_Distance {
	font-family: 'Slabo 27px', serif;
	font-size: 20px;
	span {
		color: orange;
	}
}