<% content_for :title, "Booked Rides" %>
<% content_for :heading, "My Booked Rides" %>
<div class="row margin-top">
	<% if @ride_transactions.length == 0 && @inactive_ride_transactions.length == 0 %>
		<div class="columns large-6 large-centered">
			<div class="callout panel radius">
				<p class="text-center"> Snap! </p>
				You have not booked a ride, YET! There's always a first time..,<%= link_to "Book Ride", new_ride_transaction_path %>
			</div>
		</div>
	<% else %>
		<div class="columns large-4">
			<div class="callout panel radius">
				<p class="text-center panel-heading"> RideShare Statistics - Bookings </p>
				<%= render 'stats' %>
			</div>
		</div>

		<div class="columns large-6 page large-offset-2">
			<% if @ride_transactions.length %>
					<% @ride_transactions.each do | ride_transaction | %>
						<%= render 'ride_transaction', ride_transaction: ride_transaction %>
					<% end %>
			<% end %>

			<% if @inactive_ride_transactions.length %>
					<% @inactive_ride_transactions.each do | inactive_ride_transaction | %>
						<%= render 'ride_transaction', ride_transaction: inactive_ride_transaction %>
					<% end %>
			<% end %>
		</div>
	<% end %>
</div>