<% content_for :title, "My Rides" %>
<% content_for :heading, "My Rides" %>
<div class="row margin-top">
	<% if @rides.length == 0 && @inactive_rides.length == 0 %>
		<div class="columns large-6 large-centered">
			<div class="callout panel radius">
				<p class="text-center"> Snap! </p>
				You have not posted a ride, YET! There's always a first time.., <%= link_to "Post Ride", new_ride_path %>
			</div>
		</div>
	<% else %>
		<div class="columns large-4">
			<div class="callout panel radius">
				<p class="text-center panel-heading"> RideShare Statistics - Posts </p>
				<%= render 'stats' %>
			</div>
		</div>
		
		<div class="columns large-7 page large-offset-1">
			<% if @rides.length %>
				<% @rides.each do | ride | %>
					<%= render 'ride', ride: ride %>
				<% end %>
			<% end %>

			<% if @inactive_rides.length %>
				<% @inactive_rides.each do | inactive_ride | %>
					<%= render 'ride', ride: inactive_ride %>
				<% end %>
			<% end %>
		</div>
	<% end %>
</div>