<% if object.errors.any? %>
	<ul class="error-container panel callout no-bullet">
		<% object.errors.messages.each do |key,msgs| %>
			<% msgs.each do |msg| %>
    			<li><%= msg %></li>
    		<% end %>
	  <% end %>
	</ul>
<% end %>